@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.lists {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.lists li {
    list-style: none;
}

.lists li a {
    color: #fff;
    font-size: 28px;
    font-weight: 200;
    text-decoration: none;
    letter-spacing: 1px;
}

.lists li a:hover {
    color: #48dbfb;
    transition: 0.2s;
}